<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TokoPunakawan.Properties.Settings.Toko_PunakawanConnectionString"
            connectionString="Data Source=ALFIN\ALFINKS;Initial Catalog=Toko_Punakawan;User ID=sa;Password=maulana"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>